$content-width: 700px;
$font-color: #fafafa;
$line-color: #f4f4f4;
$link-hover-color: #ffffff;


body {
  margin: 0px;
	background-image: linear-gradient(-90deg, #267871 ,#146B89);
	color: $font-color;
	font-family: 'Yantramanav', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

a{
  color: $font-color;
  text-decoration: none;
}