$content-width: 700px;
$font-color: #464646;
$line-color: #c7c7c7;
$link-hover-color: #ffffff;
$black: #3c4646;
$green-80:#8cd211;
$green-100:#5aa700;
$grey-60: #f4f4f4;


body {
  margin: 0px;
	color: $font-color;
	font-family: 'Yantramanav', Helvetica, Arial, sans-serif;
  font-weight: 300;
	font-size: 20px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

a{
  color:$green-100 ;
  text-decoration: none;
}

h1, h2, h3{
  font-weight: 300;
}