.shout{
  text-align: center;
  margin: 130px;
  h1 {
      font-size: 70px;
      margin-bottom: 0px;
  }
  h2{
    font-size:35px;
  }
  h1, h2{
    font-weight: 100;
    opacity: 0.7;
  }
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}

